# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SeeSharpLearn.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yhq\Documents\Source Code\SeeSharpLearn\.idea\.idea.SeeSharpLearn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
